{% extends "layout.html" %}
{% block css %}{% endblock %}
{% block breadcrumb %}
<h3 class="page-title">
    Blank Page <small>blank page</small>
</h3>
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/">Inicio</a> 
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="#">Layouts</a>
    <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">Blank Page</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        Blank page content goes here
    </div>
</div>
{% endblock %}
